#include "../Skip.env"

SKIP_ACTION = launch
GENERATE_INFOPLIST_FILE = NO
INFOPLIST_FILE = Info.plist
IPHONEOS_DEPLOYMENT_TARGET = 17.0
TARGETED_DEVICE_FAMILY = 1,2
SUPPORTS_MACCATALYST = NO
SWIFT_EMIT_LOC_STRINGS = YES
SWIFT_VERSION = 5.9
PRODUCT_MODULE_NAME = TimiNowHost
CODE_SIGN_STYLE = Automatic
